.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  flex-direction: row;
}

.h4 {
  font-weight: bold;
  font-size: 16;
}

.h5 {
  font-weight: bold;
  font-size: 10;
}

.h6 {
  font-weight: normal;
  font-size: 6;
}