.buttons__container {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #3b4754;
}

.button {
  font-weight: bold;
  font-size: 12;
  padding: 10px 10px 20px 10px;
  cursor: pointer;
}

.button:hover {
  color: #5ac53b;
  transform: scale(1.05);
}

.button.active {
  color: #5ac53b;
  border-bottom: 2px solid #5ac53b;
}
